aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1727779797566/work
aiohttp @ file:///D:/bld/aiohttp_1727635199400/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1716290248287/work
ansi2html @ file:///C:/b/abs_70e777argy/croot/ansi2html_1705049890863/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1726931217849/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/argon2-cffi-bindings_1699549801117/work
asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1711268871457/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-lru @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/async-lru_1701796859357/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1722977137225/work
Babel @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/babel_1699475785740/work
backoff @ file:///home/conda/feedstock_root/build_artifacts/backoff_1665004764738/work
bcrypt @ file:///D:/bld/bcrypt_1724960479407/work
beautifulsoup4 @ file:///C:/b/abs_d5wytg_p0w/croot/beautifulsoup4-split_1718029833749/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1715091184126/work
Bottleneck @ file:///C:/b/abs_f7un855idq/croot/bottleneck_1709069969633/work
Brotli @ file:///D:/bld/brotli-split_1725267609074/work
build @ file:///home/conda/feedstock_root/build_artifacts/python-build_1728263384570/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1724028158384/work
certifi @ file:///C:/b/abs_1fw_exq1si/croot/certifi_1725551736618/work/certifi
cffi @ file:///D:/bld/cffi_1725560655177/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
chroma-hnswlib @ file:///D:/bld/chroma-hnswlib_1725528001464/work
chromadb @ file:///D:/bld/chromadb_1727441581076/work
click @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/click_1699473800648/work
colorama @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/colorama_1699472650914/work
coloredlogs @ file:///home/conda/feedstock_root/build_artifacts/coloredlogs_1643220139154/work
comm @ file:///C:/b/abs_67a8058udb/croot/comm_1709322909844/work
cryptography @ file:///D:/bld/cryptography-split_1725443175675/work
dash @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/dash_1707433224608/work
dataclasses-json @ file:///C:/b/abs_395krnbkif/croot/dataclasses-json_1715264816394/work
debugpy @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/debugpy_1699554994633/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated @ file:///home/conda/feedstock_root/build_artifacts/deprecated_1685233314779/work
distro==1.9.0
dnspython @ file:///home/conda/feedstock_root/build_artifacts/dnspython_1728178720319/work
durationpy @ file:///home/conda/feedstock_root/build_artifacts/durationpy_1728295610202/work
email_validator @ file:///home/conda/feedstock_root/build_artifacts/email-validator-meta_1718984626658/work
et-xmlfile @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/et_xmlfile_1699500373144/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1720869315914/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1726622777815/work
fastapi-cli @ file:///home/conda/feedstock_root/build_artifacts/fastapi-cli_1722597621840/work
fastjsonschema @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/python-fastjsonschema_1699475134300/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1726613473834/work
Flask @ file:///C:/b/abs_f9w7doyu0h/croot/flask_1716545924884/work
Flask-Compress @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/flask-compress_1699484369051/work
flatbuffers @ file:///home/conda/feedstock_root/build_artifacts/python-flatbuffers_1711466727397/work
frozenlist @ file:///D:/bld/frozenlist_1725395865725/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1725543257300/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1726832896641/work
googleapis-common-protos @ file:///home/conda/feedstock_root/build_artifacts/googleapis-common-protos-feedstock_1724834223554/work
gpt4all==2.8.2
greenlet @ file:///D:/bld/greenlet_1726922289264/work
grpcio @ file:///D:/bld/grpc-split_1713388447196/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
httpcore @ file:///home/conda/feedstock_root/build_artifacts/httpcore_1727820890233/work
httptools @ file:///D:/bld/httptools_1726688219503/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1724778349782/work
huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1727125185975/work
humanfriendly @ file:///D:/bld/humanfriendly_1696713187752/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1726459485162/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1709821103657/work
importlib_resources @ file:///C:/b/abs_e9f8_0_2dq/croot/importlib_resources-suite_1720641112288/work
ipykernel @ file:///C:/b/abs_c2u94kxcy6/croot/ipykernel_1705933907920/work
ipython @ file:///C:/b/abs_53it5seiim/croot/ipython_1726064251844/work
itsdangerous @ file:///C:/b/abs_c4vwgdr5yn/croot/itsdangerous_1716533399914/work
jedi @ file:///C:/b/abs_1b8kmj7rrm/croot/jedi_1721058359741/work
Jinja2 @ file:///C:/b/abs_92fccttino/croot/jinja2_1716993447201/work
jiter==0.5.0
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpointer @ file:///D:/bld/jsonpointer_1725303007361/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1720529478715/work
jsonschema-specifications @ file:///C:/Users/dev-admin/py312/jsonschema-specifications_1706803038066/work
jupyter-events @ file:///C:/b/abs_c2m9s5b5m5/croot/jupyter_events_1718738115254/work
jupyter-lsp @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/jupyter-lsp-meta_1701806528286/work
jupyter_client @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/jupyter_client_1701796382758/work
jupyter_core @ file:///C:/b/abs_beftpbuevw/croot/jupyter_core_1718818307097/work
jupyter_server @ file:///C:/b/abs_9a333nh6yu/croot/jupyter_server_1718827092223/work
jupyter_server_terminals @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/jupyter_server_terminals_1701798041635/work
jupyterlab @ file:///C:/b/abs_88qjk9lo2r/croot/jupyterlab_1725895228333/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab_server @ file:///C:/b/abs_fdi5r_tpjc/croot/jupyterlab_server_1725865372811/work
kubernetes @ file:///home/conda/feedstock_root/build_artifacts/python-kubernetes_1728299840944/work
langchain @ file:///home/conda/feedstock_root/build_artifacts/langchain_1725420070071/work
langchain-chroma @ file:///home/conda/feedstock_root/build_artifacts/langchain-chroma_1726293637952/work
langchain-community @ file:///home/conda/feedstock_root/build_artifacts/langchain-community_1725440093359/work
langchain-core==0.3.9
langchain-ollama==0.2.0
langchain-openai==0.2.1
langchain-text-splitters @ file:///home/conda/feedstock_root/build_artifacts/langchain-text-splitters_1726389202049/work
langsmith @ file:///home/conda/feedstock_root/build_artifacts/langsmith_1727415227475/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/markupsafe_1707425732791/work
marshmallow @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/marshmallow_1699484766606/work
matplotlib-inline @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/matplotlib-inline_1699484796387/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1704317613764/work
mistune @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/mistune_1699559923704/work
mkl-service==2.4.0
mkl_fft @ file:///C:/b/abs_f55mv94vyg/croot/mkl_fft_1725370278455/work
mkl_random @ file:///C:/b/abs_21ydbzdu8d/croot/mkl_random_1725370276095/work
mmh3 @ file:///D:/bld/mmh3_1727696298863/work
monotonic @ file:///home/conda/feedstock_root/build_artifacts/monotonic_1716462702879/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
multidict @ file:///D:/bld/multidict_1725953792636/work
mypy-extensions @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/mypy_extensions_1699482634516/work
nbclient @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/nbclient_1701796752236/work
nbconvert @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/nbconvert_1701806279884/work
nbformat @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/nbformat_1701796704118/work
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
notebook @ file:///C:/b/abs_feeub5ouq6/croot/notebook_1727197380211/work
notebook_shim @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/notebook-shim_1701806592322/work
numexpr @ file:///C:/b/abs_05o8p7bfml/croot/numexpr_1730215959182/work
numpy @ file:///C:/b/abs_c1ywpu18ar/croot/numpy_and_numpy_base_1708638681471/work/dist/numpy-1.26.4-cp312-cp312-win_amd64.whl#sha256=becc06674317799ad0165a939a7613809d0bee9bd328a1e4308c57c39cacf08c
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1666056362788/work
ollama==0.3.3
onnxruntime-gpu @ file:///C:/bld/onnxruntime_1725374831293/work/build-ci/Release/dist/onnxruntime_gpu-1.18.1-cp312-cp312-win_amd64.whl#sha256=3d75cd2dbc46b39c5456ee2921f3c816f3c6c37f0840c219de63bed66c122f8a
openai==1.51.0
openpyxl @ file:///C:/b/abs_0e6ca21lac/croot/openpyxl_1721752965859/work
opentelemetry-api @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-api_1724916716784/work
opentelemetry-exporter-otlp-proto-common @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-exporter-otlp-proto-common_1724929366099/work
opentelemetry-exporter-otlp-proto-grpc @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-exporter-otlp-proto-grpc_1724969653113/work
opentelemetry-instrumentation @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-instrumentation_1724896414291/work
opentelemetry-instrumentation-asgi @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-instrumentation-asgi_1724943668337/work
opentelemetry-instrumentation-fastapi @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-instrumentation-fastapi_1724987530322/work
opentelemetry-proto @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-proto_1724925709757/work
opentelemetry-sdk @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-sdk_1724923027856/work
opentelemetry-semantic-conventions @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-semantic-conventions_1724919606212/work
opentelemetry-util-http @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-util-http_1724929768115/work
orjson @ file:///D:/bld/orjson_1723206041306/work/target/wheels/orjson-3.10.7-cp312-none-win_amd64.whl#sha256=9bcb4add5048785838ddce77abeeaa47fc5a6fe5354875296bd8b797c988b7b1
overrides @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/overrides_1701806336503/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
pandas @ file:///C:/b/abs_9aotnvvz16/croot/pandas_1718308978393/work/dist/pandas-2.2.2-cp312-cp312-win_amd64.whl#sha256=93959056e02e9855025011adb18394296a58d49e72b9342733b7693a5267c790
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pkgutil_resolve_name @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pkgutil-resolve-name_1707447687581/work
platformdirs @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/platformdirs_1701797392447/work
plotly @ file:///C:/b/abs_1014knmz1t/croot/plotly_1726245573566/work
posthog @ file:///home/conda/feedstock_root/build_artifacts/posthog_1726036274425/work
prometheus-client @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/prometheus_client_1699495496669/work
prompt-toolkit @ file:///C:/b/abs_68uwr58ed1/croot/prompt-toolkit_1704404394082/work
protobuf==4.25.3
psutil @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/psutil_1699482842340/work
pulsar-client @ file:///D:/bld/pulsar-client_1725542477059/work/dist/pulsar_client-3.5.0-cp312-cp312-win_amd64.whl#sha256=218b2a82a7754eecb4a422dc3c70bc8d14cf9cd92b6c3a3d04f38fe6bd4623a9
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyasn1 @ file:///home/conda/feedstock_root/build_artifacts/pyasn1_1726839225972/work
pyasn1_modules @ file:///home/conda/feedstock_root/build_artifacts/pyasn1-modules_1726029546107/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1726601062926/work
pydantic-settings @ file:///home/conda/feedstock_root/build_artifacts/pydantic-settings_1726062574860/work
pydantic_core @ file:///D:/bld/pydantic-core_1726525163247/work
Pygments @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pygments_1699474141968/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1722701264352/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1722587090966/work
PyPika @ file:///home/conda/feedstock_root/build_artifacts/pypika_1681572367287/work
pyproject_hooks @ file:///home/conda/feedstock_root/build_artifacts/pyproject_hooks_1727644064167/work
pyreadline3 @ file:///D:/bld/pyreadline3_1726747949282/work
PySocks @ file:///D:/bld/pysocks_1661604991356/work
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-dotenv @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/python-dotenv_1699475097728/work
python-json-logger @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/python-json-logger_1699543626759/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/python-multipart_1727678737599/work
pytz @ file:///C:/b/abs_6ap4tsz1ox/croot/pytz_1713974360290/work
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
pywin32==305.1
pywinpty @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pywinpty_1699496010557/work/target/wheels/pywinpty-2.0.10-cp312-none-win_amd64.whl#sha256=227f3f94f568f63ab3418c02875c4b429a0a3638e1a2917a22bb8e4ba1762179
PyYAML @ file:///D:/bld/pyyaml_1725456271438/work
pyzmq @ file:///C:/b/abs_89aq69t0up/croot/pyzmq_1705605705281/work
referencing @ file:///C:/Users/dev-admin/py312/referencing_1706802962559/work
regex==2024.9.11
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1711290127547/work
retrying @ file:///Users/ktietz/demo/mc3/conda-bld/retrying_1629465456590/work
rfc3339-validator @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/rfc3339-validator_1699543924991/work
rfc3986-validator @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/rfc3986-validator_1699543955651/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1728057819683/work/dist
rpds-py @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/rpds-py_1699565648947/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1658328885051/work
Send2Trash @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/send2trash_1701806400767/work
setuptools==75.1.0
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1698144360966/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1708952932303/work
soupsieve @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/soupsieve_1699496611169/work
SQLAlchemy @ file:///D:/bld/sqlalchemy_1726596497554/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette-recipe_1727103030336/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1727529704821/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1720351771156/work
terminado @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/terminado_1699545066607/work
tiktoken==0.7.0
tinycss2 @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/tinycss2_1699545185754/work
tokenizers @ file:///D:/bld/tokenizers_1723431198147/work/bindings/python
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1727974628237/work
tornado @ file:///C:/b/abs_7bua0304mj/croot/tornado_1718740122405/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1722737464726/work
traitlets @ file:///C:/b/abs_bfsnoxl4pq/croot/traitlets_1718227069245/work
typer==0.12.5
typer-slim==0.12.5
typing-inspect @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/typing_inspect_1699545548175/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1726496430923/work
uvicorn @ file:///D:/bld/uvicorn-split_1727549527674/work
watchfiles @ file:///D:/bld/watchfiles_1725346917197/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/webencodings_1699497069416/work
websocket-client @ file:///C:/b/abs_5dmnxxoci9/croot/websocket-client_1715878351319/work
websockets @ file:///D:/bld/websockets_1727013482038/work
Werkzeug @ file:///C:/b/abs_8bittcw9jr/croot/werkzeug_1716533366070/work
wheel==0.44.0
win_inet_pton @ file:///D:/bld/win_inet_pton_1727796272493/work
wrapt @ file:///D:/bld/wrapt_1724957991658/work
yarl @ file:///D:/bld/yarl_1727511316933/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1726248574750/work
zstandard==0.23.0
